<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

        <title>Desi Charades</title>
    </head>
  <body>
    <nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Desi Charades</a>
    </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
  </body>

</html>